.product_detail_page .wrap_product_detail {
  width: 85rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}
.wrap_product_detail .slider_product {
  width: 36.25rem;
}
/* content_product */
.wrap_product_detail .content_product {
  width: 43.75rem;
}
.wrap_product_detail .content_product > .title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 3.6rem */
  letter-spacing: -0.12rem;
  background: linear-gradient(90deg, #15a256 0%, #2c7234 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrap_product_detail .content_product > .subtitle {
  margin: 2.5rem 0;
  color: #262626;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 2.1rem */
  letter-spacing: -0.03rem;
}

.wrap_product_detail .content_product .description .desc_item {
  display: flex;
  margin-top: 1rem;
}

.wrap_product_detail .content_product .description .desc_item ul {
  width: 12.25rem;
  flex-shrink: 0;
  list-style-type: disc;
  padding-left: 1.75rem;
  color: #2a2a2a;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.575rem */
  letter-spacing: -0.01125rem;
}
.wrap_product_detail .content_product .description p {
  color: #2a2a2a;
  font-size: 1.125rem;
  font-style: normal;
  line-height: 150%; /* 1.6875rem */
  letter-spacing: -0.01125rem;
}
/* button */
.wrap_product_detail .content_product .button_group {
  display: flex;
  justify-content: space-between;
}
.wrap_product_detail .content_product .button_group .btn_item {
  width: 21.625rem;
  border-radius: 3.125rem;
  margin: 2rem 0;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 1.75rem */
  letter-spacing: -0.0125rem;
  position: relative;
  overflow: hidden;
}
.wrap_product_detail .content_product .button_group .btn_item .btn_coating {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #7ef4b3;
  transition: all 0.4s ease-out;
  border-radius: 3.125rem;
}
.wrap_product_detail
  .content_product
  .button_group
  .btn_item:hover
  .btn_coating {
  width: 100%;
}
.wrap_product_detail .content_product .button_group .btn_item .btn_value {
  z-index: 1;
}
.wrap_product_detail .content_product .button_group .btn_item.sale {
  border: 1px solid #15a256;
  color: #0a4525;
}
.wrap_product_detail .content_product .button_group .btn_item.get {
  color: #fff;
  background: linear-gradient(90deg, #15a256 0%, #2c7234 100%);
}
.wrap_product_detail .content_product .button_group .btn_item.get .btn_value {
  transition: all 0.6s ease-out;
}
.wrap_product_detail
  .content_product
  .button_group
  .btn_item.get:hover
  .btn_value {
  color: #0a4525;
}
/* accordion */
.accordion_product_detail {
}
.accordion_product_detail .accordion_product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.625rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.accordion_product_detail .accordion_product-header .title {
  color: #262626;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 2.1rem */
  letter-spacing: -0.03rem;
}
.accordion_product_detail .accordion_product-header .icon {
  width: 1.5rem;
  height: 1.5rem;
}
.accordion_product_detail .accordion_product-header .icon.minus {
  display: none;
}
/* accordion content */
.accordion_product_detail .accordion_product-content table tr td {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.accordion_product_detail .accordion_product-content table tr td ul {
  list-style-type: none;
  width: 13rem;
}
.accordion_product_detail .accordion_product-content table tr td ul li {
  position: relative;
}
.accordion_product_detail .accordion_product-content table tr td ul li::after {
  content: "";
  width: 5px;
  height: 5px;
  left: 0;
  top: 0;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
}
.accordion_product_detail .accordion_product-content table tr td:last-of-type {
  padding: 1rem;
}
