<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
    <div class="news_card">
      <div class="news_img_container">
        <img class="news_img" src="./images/IMG.jpg" alt="" />
        <div class="gradient_layer"></div>
      </div>
      <div class="news_card_content">
        <h3 class="news_card_title">
          Custom Plastic Bag Manufacturers: Who They Are & What They Do
        </h3>
        <div class="news_time">
          <p>16<span>/SEP</span></p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M21 12L16 7M21 12L16 17M21 12H3"
              stroke="#262626"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>
