<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/style/global.css" />
    <link rel="stylesheet" href="../../assets/style/reset.css" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  <body>
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <section class="section_our_categorie">
          <div class="slide_product">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <!-- 12 phần tử -->
                <div class="swiper-slide">
                  <div class="trapezoid"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Túi nhựa.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide reverse_slide">
                  <div class="trapezoid_reverse"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Túi rác.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="trapezoid"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img
                      src="./img/Túi sinh học.png"
                      alt=""
                      class="product_img"
                    />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide reverse_slide">
                  <div class="trapezoid_reverse"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Khuôn@3x.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="trapezoid"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Túi giấy.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide reverse_slide">
                  <div class="trapezoid_reverse"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Túi vải.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="trapezoid"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Túi nhựa.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide reverse_slide">
                  <div class="trapezoid_reverse"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Túi rác.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="trapezoid"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img
                      src="./img/Túi sinh học.png"
                      alt=""
                      class="product_img"
                    />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide reverse_slide">
                  <div class="trapezoid_reverse"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Khuôn@3x.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="trapezoid"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Túi giấy.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
                <div class="swiper-slide reverse_slide">
                  <div class="trapezoid_reverse"></div>
                  <div class="elippse_prd"></div>
                  <div class="wrap_img_content">
                    <img src="./img/Túi vải.png" alt="" class="product_img" />
                    <p class="desc">Paper Products</p>
                  </div>
                </div>
              </div>

              <!-- Nút điều khiển -->
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <script src="../../js/gsap.js"></script>
    <script src="../../js/gsap.min.js"></script>
    <script src="../../js/ScrollSmoother.min.js"></script>
    <script src="../../js/ScrollTrigger.min.js"></script>
    <script src="../../js/kKao4HeadingTable.js"></script>
    <script src="../../js/ScrollToPlugin.min.js"></script>
    <script src="./scripts.js"></script>
  </body>
</html>
