<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
        />
        <link rel="stylesheet" href="./assets/styles.css" />
    </head>
    <body>
        <footer class="footer">
            <div class="footer__bg">
                <img src="./assets/images/footer-bg.png" alt="" />
            </div>
            <div class="footer__top">
                <div class="footer__top-inner">
                    <ul class="footer__top-list">
                        <li class="footer__top-item">
                            <a class="footer__top-link" href="">About VNK'S</a>
                        </li>
                        <li class="footer__top-item">
                            <a class="footer__top-link" href=""
                                >Sustainable development</a
                            >
                        </li>
                        <li class="footer__top-item">
                            <a class="footer__top-link" href=""
                                >Products
                                <img
                                    src="./assets/images/arrow-down.svg"
                                    alt=""
                            /></a>
                        </li>
                        <li class="footer__top-item">
                            <a class="footer__top-link" href=""
                                >Quality and factory</a
                            >
                        </li>
                        <li class="footer__top-item">
                            <a class="footer__top-link" href="">Blog</a>
                        </li>
                    </ul>
                    <ul class="footer__top-list footer__top-list-social">
                        <li class="footer__top-social-item">
                            <a class="footer__top-social-link" href=""
                                ><img
                                    src="./assets/images/Frame 1618873108.svg"
                                    alt=""
                            /></a>
                        </li>
                        <li class="footer__top-social-item">
                            <a class="footer__top-social-link" href=""
                                ><img
                                    src="./assets/images/Frame 1618873106.svg"
                                    alt=""
                            /></a>
                        </li>
                        <li class="footer__top-social-item">
                            <a class="footer__top-social-link" href=""
                                ><img src="./assets/images/Frame.svg" alt=""
                            /></a>
                        </li>

                        <li class="footer__top-social-item">
                            <a class="footer__top-social-link" href=""
                                ><img
                                    src="./assets/images/Frame 1618873109.svg"
                                    alt=""
                            /></a>
                        </li>
                        <li class="footer__top-social-item">
                            <a class="footer__top-social-link" href=""
                                ><img
                                    src="./assets/images/Frame 1618873111.svg"
                                    alt=""
                            /></a>
                        </li>
                        <li class="footer__top-social-item">
                            <a class="footer__top-social-link" href=""
                                ><img
                                    src="./assets/images/Amazon_logo 1.svg"
                                    alt=""
                            /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__center">
                <div class="footer__center-inner">
                    <div class="footer__logo">
                        <img
                            src="./assets/images/logo.png"
                            alt="VNKS Logo"
                            class="footer__logo-image"
                        />
                        <p class="footer__logo-text">
                            Delivering Innovative Plastic Packaging That
                            Protects and Preserves Your Products.
                        </p>
                        <p class="footer__logo-license">
                            GCN số GP/No: 01-1124/2018TCDL-GP LHQT
                        </p>
                    </div>
                    <div class="footer__contact">
                        <h3 class="footer__contact-title">Contact Us</h3>
                        <p class="footer__contact-location">
                            <img src="./assets/images/location.svg" alt="" />
                            Location: C3 Gian Khau industrial zone, Ninh Binh
                            province, Viet Nam
                        </p>
                        <p class="footer__contact-phone">
                            <img src="./assets/images/tel.svg" alt="" />(+84)
                            2293 651 648
                        </p>
                        <p class="footer__contact-email">
                            <img src="./assets/images/tel.svg" alt="" />
                            Email: info@ksvn.com.vn
                        </p>
                    </div>
                    <div class="footer__support">
                        <h3 class="footer__support-title">Customer Support</h3>
                        <ul class="footer__support-list">
                            <li class="footer__support-item">Usage rules</li>
                            <li class="footer__support-item">
                                Warranty - Return
                            </li>
                            <li class="footer__support-item">Payments</li>
                            <li class="footer__support-item">
                                Shipping and delivery policy
                            </li>
                            <li class="footer__support-item">
                                Information security policy
                            </li>
                        </ul>
                    </div>
                    <div class="footer__advice">
                        <h3 class="footer__advice-title">Contact for Advice</h3>
                        <p class="footer__advice-text">
                            We will update the fastest tour offers for you
                        </p>
                        <form class="footer__advice-form">
                            <input
                                type="email"
                                placeholder="Your email"
                                class="footer__advice-input"
                            />
                            <button type="submit" class="footer__advice-button">
                                <img
                                    src="./assets/images/arrow-right.svg"
                                    alt="Submit"
                                    class="footer__advice-button-icon"
                                />
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer__bottom-inner">
                    <p class="footer__bottom-text">© 2024 VNKS</p>
                    <p class="footer__bottom-designed">
                        Designed by OKHUB Vietnam
                    </p>
                </div>
            </div>
        </footer>
    </body>
</html>
